.card{
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(68, 87, 109, .5);
    border-radius: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .5);

    text-decoration: none;

    font-size: 10pt;
    text-align: center;
    word-wrap: normal;

    img{
        width: 50px;
        margin: 10px;
    }

    span{
        display: none;
    }
}