.login{
  width: 100%;
  min-height: calc(100vh - 166px);
  display: flex;
  justify-content:space-around;
  
  background-color: #E6E6E6;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../../assets/condominio_silhueta.png');
}

.logoArea{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.formArea{
  width: 400px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-wrap: break-word;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

  padding: 20px;
  margin: 30px;

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      padding: 0 10px;
      border: 1px solid #ccc;
      border-radius: 30px;
      font-size: 16px;
      text-align: center;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    button {
      width: 85%;
      height: 40px;
      margin-top: 20px;
      margin-bottom: 5px;
      background-color: #44576D;
      color: white;
      border: none;
      border-radius: 30px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


      &:hover {
        background-color: #E6e6e6;
        color: #44576D;
      }
    }
  }

}