.nav{
    height: 83px;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    background: linear-gradient(to right, #44576D, #AAC7D8);
}

.logo{
    height: 60px;
    margin: 0 20px 0 20px;
}

.menu{
    display: flex;
    color: white;
    list-style: none;
    gap: 20px;
    margin-left: auto;
    margin-right: 40px;

    li{
        cursor: pointer;
        text-decoration: none;
        text-emphasis: none;
        font-weight: 800;
        font-size: 18pt;
    }

    a{
        color: white;
        text-decoration: none;
        transition: .5s;
    }

    a:hover{
        color: #44576D;
    }
}

.userMenu{
    width: 225px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 30px;
    margin: 0 20px 0 20px;
}

.userName{
    text-align: right;
    font-size: 16px;
    color: #44576D;

    a{
        text-decoration: none;
        color: #44576D;
    }
}

.userIcon{
    margin: 0 -10px 0 0;
}
