footer {
    height: 83px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    align-items: center;
    background: linear-gradient(to right, #44576D, #aac7d8);
}