.condominosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.buttonsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 50px;
}

.contentContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addCondomino{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img{

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: 130px;
    margin: 50px 0;
  }
}
.form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 30px 0;
}

.formField {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  label {
    font-size: 18px;
    margin-bottom: 5px;
  }

  input {
    width: 80%;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #44576D;
    font-size: 16px;
    padding: 5px;
  }
}

.fieldBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
}