.condominosContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

.buttonsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 50px;
}

.contentContainer {
  width: 90%;
  display: flex;
  flex-direction: column;;
  justify-content: center;
}

.addCondomino{
  width: 100%;
  height: 100%;
  display: flex;
}

.img{

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: 130px;
    margin: 50px 0;
  }
}
.form {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: 30px 0;
}